<div class="dashboard">
  <h2 class="welcome">Welcome to Your Dashboard {{userName}}!</h2>
    <p id="dash-sum">Click the Add Pin button below to start!</p>
  <div class="pins-history">
    <ul class='pinlist'>
         {{#each pins as |pin| }}
      <li>
      <div class="card">
        <div class="card-body">
          <a href="/pins/{{pin.id}}" class="btn btn-primary">{{pin.plant}}</a>{{format_date pin.date_created}}
          <p class="card-text">{{pin.description}}</p>
        </div>
      </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <footer>
    <nav class='row'>
      <button class="btn" id="add-pin">Add Pin</button>
      <button class="btn" id="logout"> Logout </button>
    </nav>
  </footer>
</div>
<script src="/js/logout.js"></script>
